<!-- About Modal -->
  <div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 class="modalHeader">About Us</h3>
        </div>
        <div class="modal-body">
          <div class='row'>
            <div class="col-sm-12 well well-sm">
              <p class="modalText">When it comes to the world of politics, the statements and information we generally recieve are largely opinion based. Here at Politically Correct, we do not feel comfortable sleeping at night with that idea. We want our users to have easy access to all their local and state represetatives. Once a user creates an account, the information will be rendered on the page based off their location. The information will be the following: </p>
            </div>
            <div class="col-sm-12 well well-sm">
              <h4>Freedom to Learn</h4>
              <img src='./images/background.jpg' alt='No Img' id='aboutImg'>
            </div>
            <div class="col-sm-12 well">
              <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                  <button class="btn btn-lg btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
                <div class="col-sm-4"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>