 <!-- Contact Modal -->
  <div id="contactModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 class="modalHeader">Contact Us</h3>
        </div>
        <div class="modal-body">
          <div class='row'>
            <div class="col-sm-12 well">
              <div class="row">
                <div class="col-sm-4">
                  <a href='https://github.com/annieg11/PoliticallyCorrect' target="_blank"><i class="fa fa-3x fa-github" aria-hidden="true"></i></a>
                </div>
                <div class="col-sm-4">
                  <a href='#'><i class="fa  fa-3x fa-phone" aria-hidden="true"></i></a>
                </div>
                <div class="col-sm-4">
                  <a href='#'><i class="fa fa-3x fa-envelope-open" aria-hidden="true"></i></a>
                </div>
              </div>  
            </div>
            <div class="col-sm-12 well well-sm">
              <img class="contactImg" src='./assets/images/contact.jpg' alt="Representative">
            </div>
            <div class="col-sm-12 well">
              <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                  <button class="btn btn-lg btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
                <div class="col-sm-4"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
