{{!-- Navbar Partial --}}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 navbar-header">
        <img src='./images/LOGO.png' alt='No Img' id='logo'>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-2"></div>
           <div class="col-sm-8">
            <ul class="nav navbar-nav">
              <li><a href="#aboutModal"  data-toggle="modal"><i class="fa fa-info-circle" aria-hidden="true"></i>About Us</a></li>
              <li><a href="#signModal"  data-toggle="modal"><i class="fa fa-user-plus" aria-hidden="true"></i>Sign Up</a></li> 
              <li><a href="#loginModal" data-toggle="modal"><i class="fa fa-users" aria-hidden="true"></i>Login</a></li> 
              <li><a href="#contactModal" data-toggle="modal"><i class="fa fa-address-book-o" aria-hidden="true"></i>Contact Us</a></li> 
            </ul>
          </div>
           <div class="col-sm-2"></div>
      </div>
    </div>
  </div>
</nav>