{{!-- Navbar partial --}}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="row">

      <div class='col-sm-12'>
        <div class="row">

          <div class="col-sm-3 well">
            <a href="#aboutModal" role="button" class="btn btn-lg btn-info" data-toggle="modal"><i class="fa fa-info-circle" aria-hidden="true"></i>About Us</a>
          </div>
          <div class="col-sm-3 well">
            <a href="#signModal" role="button" class="btn btn-lg btn-success" data-toggle="modal"><i class="fa fa-user-plus" aria-hidden="true"></i>Sign Up</a>
          </div>
          <div class="col-sm-3 well">
            <a href="#loginModal" role="button" class="btn btn-lg btn-primary" data-toggle="modal"><i class="fa fa-users" aria-hidden="true"></i>Login</a>
          </div>
          <div class="col-md-3 well">
            <a href="#contactModal" role="button" class="btn btn-lg btn-info" data-toggle="modal"><i class="fa fa-address-book-o" aria-hidden="true"></i>Contact Us</a>
          </div>

        </div>
      </div>
      
{{!--       <div class='col-sm-12'>
        <div class="row">
          <div class='col-sm-4'></div>
          <div class='col-sm-6'>
            <img src='./images/LOGO.png' alt='No Img' id='logo'>
          </div>
          <div class='col-sm-2'></div>
        </div>
      </div> --}}

    </div>
  </div>
  </nav>
