<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Politically Correct</title>

    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    
    <script src="https://use.fontawesome.com/375a6dc6a2.js"></script>

</head>
<body>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="row">

      <div class='col-sm-12'>
        <div class="row">

          <div class="col-sm-3 well well-sm">
            <a href="#aboutModal" role="button" class="btn btn-lg btn-info" data-toggle="modal"><i class="fa fa-info-circle" aria-hidden="true"></i>About Us</a>
          </div>
          <div class="col-sm-3 well well-sm">
            <a href="#signModal" role="button" class="btn btn-lg btn-success" data-toggle="modal"><i class="fa fa-user-plus" aria-hidden="true"></i>Sign Up</a>
          </div>
          <div class="col-sm-3 well well-sm">
            <a href="#loginModal" role="button" class="btn btn-lg btn-primary" data-toggle="modal"><i class="fa fa-users" aria-hidden="true"></i>Login</a>
          </div>
          <div class="col-md-3 well well-sm">
            <a href="#contactModal" role="button" class="btn btn-lg btn-info" data-toggle="modal"><i class="fa fa-address-book-o" aria-hidden="true"></i>Contact Us</a>
          </div>

        </div>
      </div>
      
      <div class='col-sm-12'>
        <div class="row">
          <div class='col-sm-4'></div>
          <div class='col-sm-6'>
            <img src='./images/LOGO.png' alt='No Img' id='logo'>
          </div>
          <div class='col-sm-2'></div>
        </div>
      </div>

    </div>
  </div>
  </nav>

  

  {{! Dynamic content Rendered Here }}
  <div class="container">
    {{{body}}}
  </div>
  
  <!-- <-Footer--> 
  <footer class="footer navbar-fixed-bottom">

    <!--Footer Links-->
    <div class="container-fluid well">
        <div class="row">

            <div class="col-sm-4">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Our Mission</h3>
                </div>
                
                <div class="panel-body">
                  <div class="row">
                  
                  <p class="mission">We want to make it simpler for everyone to get the facts on all of their local and federal representatives. Create a login and find out more about the people who make our laws.</p>
                    
                  </div>
                </div>

              </div>
            </div>
          
           <div class="col-sm-4">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Contact Us</h3>
                </div>

                <!-- Links to Company e-mail and phone number -->
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                      <a href='#'><i class="fa  fa-3x fa-phone" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                      <a href='#'><i class="fa fa-3x fa-envelope-open" aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            
            <div class="col-sm-4">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Links</h3>
                </div>
                
                <div class="panel-body">
                  <div class="row">
                    
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                      <a href='https://github.com/annieg11/PoliticallyCorrect'><i class="fa fa-3x fa-github" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                      <a href='#'><i class="fa fa-3x fa-home" aria-hidden="true"></i></a>
                    </div>
                  
                  </div>
                </div>

              </div>
            </div>
       
        </div>
      </div>
    
      <!--Copyright-->
      <div class="row">
     
        <div class="col-md-12">
          <div class="well well-sm copyright">
            © 2016 Copyright: Politically Correct Inc.
          </div>
        </div>

      </div>
  </footer>

 

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  

</body>
</html>