
 <!-- Modals -->
  <!-- About Modal -->
  <div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 class="modalHeader">About Us</h3>
        </div>
        <div class="modal-body">
          <div class='row'>
            <div class="col-sm-12 well well-sm">
              <p class="modalText">When it comes to the world of politics, the statements and information we generally recieve are largely opinion based. Here at Politically Correct, we do not feel comfortable sleeping at night with that idea. We want our users to have easy access to all their local and state represetatives. Once a user creates an account, the information will be rendered on the page based off their location. The information will be the following: </p>
            </div>
            <div class="col-sm-12 well well-sm">
              <h4>Freedom to Learn</h4>
              <img src='./images/background.jpg' alt='No Img' id='aboutImg'>
            </div>
            <div class="col-sm-12 well">
              <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                  <button class="btn btn-lg btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
                <div class="col-sm-4"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Sign up Modal -->
  <div id="signModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 class="modalHeader">Sign Up</h3>
        </div>
        <div class="modal-body">
          <div class='row'>
            <div class="col-sm-12 well">
              <form class="create-update-form" action="user/create" method="POST">
                <div class="form-group">
                  <label for="name" name="name">Full Name</label>
                    <input type="text" class="form-control" id="user" placeholder="Jane Doe"/>
                </div>
                 <div class="form-group">
                  <label for="zipcode">Zip Code</label>
                    <input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="00000"/>
                </div>
                <div class="form-group">
                  <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="user@mail.com"/>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password"/>
                </div>
                <div class="col-sm-12 well">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-3">
                    <button type="submit" class="btn btn-lg btn-success" id="newUserBtn">Create User</button>
                  </div>
                  <div class="col-sm-2"></div>
                  <div class="col-sm-3">
                    <button class="btn btn-lg btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>   
                  </div>
                  <div class="col-sm-2"></div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Login Modal -->
  <div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 class="modalHeader">Login</h3>
        </div>
        <div class="modal-body">
          <div class='row'>
            <div class="col-sm-12 well">
              <form role="form">
                <div class="form-group">
                  <label for="userEmail">Email address</label>
                    <input type="email" class="form-control" id="userEmail" placeholder="Enter email"/>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password"/>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"/>Remember Me</label>
                </div>
                <div class="col-sm-12 well">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-3">
                    <button type="submit" class="btn btn-lg btn-success" id="loginBtn">Login</button>
                  </div>
                  <div class="col-sm-2"></div>
                  <div class="col-sm-3">
                    <button class="btn btn-lg btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>   
                  </div>
                  <div class="col-sm-2"></div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Contact Modal -->
  <div id="contactModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 class="modalHeader">Contact Us</h3>
        </div>
        <div class="modal-body">
          <div class='row'>
            <div class="col-sm-12 well">
              <div class="row">
                <div class="col-sm-4">
                  <a href='https://github.com/annieg11/PoliticallyCorrect' target="_blank"><i class="fa fa-3x fa-github" aria-hidden="true"></i></a>
                </div>
                <div class="col-sm-4">
                  <a href='#'><i class="fa  fa-3x fa-phone" aria-hidden="true"></i></a>
                </div>
                <div class="col-sm-4">
                  <a href='#'><i class="fa fa-3x fa-envelope-open" aria-hidden="true"></i></a>
                </div>
              </div>  
            </div>
            <div class="col-sm-12 well well-sm">
              <img src='./images/contact.jpg' alt='No Img'>
            </div>
            <div class="col-sm-12 well">
              <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                  <button class="btn btn-lg btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
                <div class="col-sm-4"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>