body{
  background-image:url('../images/ripples.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  max-height: 100%;

}

h4{
  font-weight: bold;
  font-size: 20px;
}

.panel-body{
  font-size:15px;
}
.navbar-default  {
    padding-top:0px !important; 
    padding-bottom:10px !important;
    height: 5px;
    background: #777;
}

.navbar {min-height:28px !important;
}

.navbar.navbar-default{
      background: #777;
}

.page-header{
  font-size:50px;
}

h5 {
  font-size: 20px;
}

p{
  padding-left: 10px;
  padding-right: 10px;
}

.well{
  text-align:center;
/*  background-color: #777;
*/}

/*Images*/
#logo{
  position: relative;
  left: -55px;
}

#aboutImg{
  height: 200px;
  width: 200px;
}


.panel-title{
  text-align: center;
}


.mission{
  text-align: left;
}

.copyright{
  text-align: center;
  position: relative;
  bottom: 20px;
}


/*Modal Styling*/
.modalHeader{
  text-align: center;
  background: ;
}
.modalBody {

}
.modalText{
  text-align: left;
}

.form-group, .checkbox {
  text-align: left;
}

/*Footer Styling*/

#footer{
bottom: -50px;
height: 50px;
left: 0;
position: absolute;
right: 0;
}