.navbar-default{
  padding: 10.5px;
  margin-bottom: 20px;
}

h5 {
  font-size: 20px;
}

p{
  padding-left: 10px;
  padding-right: 10px;
}

.well{
  text-align:center;
}

/*Images*/
#logo{
  position: relative;
  left: -55px;
}

#aboutImg{
  height: 200px;
  width: 200px;
}


.panel-title{
  text-align: center;
}

.mission{
  text-align: left;
}

.copyright{
  text-align: center;
  position: relative;
  bottom: 20px;
}


/*Modal Styling*/
.modalHeader{
  text-align: center;
}
.modalText{
  text-align: left;
}

.form-group, .checkbox {
  text-align: left;
}

/*Footer Styling*/

#footer{
bottom: -50px;
height: 50px;
left: 0;
position: absolute;
right: 0;
}