body{
  background-image:url('../images/ripples.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  max-height: 100%;
/* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}
/*.navbar-default{
  padding: 10.5px;
  margin-bottom: 20px;
}*/
.page-header{
  font-size:50px;
}

h1{
  background-color: #fff;
  text-align: center;
  font-size: 100px;
  background: rgba(204, 204, 204, 0.5);
}
h5 {
  font-size: 20px;
}

p{
  padding-left: 10px;
  padding-right: 10px;
}

.well{
  text-align:center;
}

/*Images*/
#logo{
  position: relative;
  left: -55px;
}

#aboutImg{
  height: 200px;
  width: 200px;
}


.panel-title{
  text-align: center;
}

.mission{
  text-align: left;
}

.copyright{
  text-align: center;
  position: relative;
  bottom: 20px;
}


/*Modals*/
.modalHeader{
  text-align: center;
}
.modalText{
  text-align: left;
}

.form-group, .checkbox {
  text-align: left;
}

  #footer{

        bottom: -50px;
        height: 50px;
        left: 0;
        position: absolute;
        right: 0;
         }