/* style for the landing page and app */

body {
  background-image:  url('../images/ripples.jpg');
  /* background-attachment: fixed; */
  background-repeat: repeat;
  /* position: relative; */
  margin: 0, auto;
  animation: aniMain 25s linear infinite;
  /*  background-size: cover; */
  /* max-height: 100%; */
  width:100%;
  height:100%;
}
@keyframes aniMain{
from {background-position: 0px 0px; }
to {background-position: -1200px 0px;}
}

h2{
   font-size: 24px; 
}
h4 {
  font-weight: bold;
  font-size: 20px;
}

.panel-body {
  font-size:15px;
}

/*NavBar*/
.navbar-default  {
    padding-top:0px !important; 
    padding-bottom:10px !important;
    /*height: 45px;*/
    background: white;
}

.navbar.navbar-default {
  background: white;
}

.page-header {
  font-size:50px;
}
.navbar-nav {
  position: relative;
  right: -60px;
  font-size: 20px;
}

h5 {
  font-size: 20px;
}

p {
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  display: block;
  margin: 0 auto;  
}

#aboutImg {
  height: 200px;
  width: 200px;
}

.contactImg {
  display: block;
  margin: 0 auto;
}
.aboutImg {
  display: block;
  margin: 0 auto;
}
.btn.btn-lg.btn-danger {
  display: block;
  margin: 0 auto;
}

/*Panels*/
.panel-title {
  text-align: center;
}


.mission {
  text-align: left;
}

.copyright {
  text-align: center;
  position: relative;
  bottom: 20px;
}


/*Modal Styling*/
.modalHeader {
  text-align: center;
}
.modalBody {

}
.modalText {
  text-align: left;
}

.form-group, .checkbox {
  text-align: left;
}

h4{
  text-align: center;
}

/*Footer Styling*/

#footer {
  position: relative;
  bottom: 0;
}


/*Your Rep Styling*/
#repTable {
  display:none;
} 

.repImage {
  padding-bottom: 40px;
}

.repName {
  padding-bottom: 30px;
}

/*Banner image*/
.bannerImg {
  width: 490px;
  height: 200px;
  padding-bottom: 30px;
}

.list-group-item {
  text-align: center;
}

